
<div class="row shadow">
  <!-- Main Blog Content -->
  <h1>All Makers, graduates and current students</h1>

    <% @users.each do |user| %>
        <div class="large-12 columns" >
        	<div class="large-3 columns" >
                <%= user.profile_image %>
            </div>
            <div class="large-9 columns" >
        		<h1><%= user.name %></h1>
        		<p><%= user.email %></p>
        	</div>
        </div>
    <% end %>
    <hr/>

</div>
