Profile

    <!-- Nav Bar -->
 
  <!-- <div class="row">
    <div class="large-12 columns">
      <div class="nav-bar right">
       <ul class="button-group">
         <li><a href="#" class="button">Link 1</a></li>
         <li><a href="#" class="button">Link 2</a></li>
         <li><a href="#" class="button">Link 3</a></li>
         <li><a href="#" class="button">Link 4</a></li>
        </ul>
      </div>
      <h1>Blog <small>This is my blog. It's awesome.</small></h1>
      <hr />
    </div>
  </div> -->
 
  <!-- End Nav -->
 
 
  <!-- Main Page Content and Sidebar -->
 
  <div class="row">
 
    <!-- Main Blog Content -->
    <div class="large-12 columns" role="content">
 
      <article>
 
        <h3><a href="#"></a> <%= @showcase_user.name %> </h3> 
         
        <div class="row">
          <div class="large-6 columns">
            <img src="http://placehold.it/400x240&text=[img]" />
          </div>
          <div class="large-6 columns">
            <p>BIO</p>
          </div>
          
        </div>

        <hr />
        <article>
        	<p>List of links, e.g. Github, edit profile, etc</p>
        </article>

        <hr />
 
        <p>CV</p>
 
        <p>and its details</p>
 
      </article>
 
      
      
    </div>
 
    <!-- End Main Content -->
 
 
    
  </div>
 
  <!-- End Main Content and Sidebar -->
 
 

