
All Makers, graduates and current students

<div class="row shadow">
  <!-- Main Blog Content -->
    <div class="large-12 columns" >
    		<div class="large-3 columns" style="background-color: black">
            <img style="float:left;" src="http://placehold.it/200x150&text=[img]" />
        </div>
        <div class="large-9 columns" style="background-color: red" >
    			<h1>Rolando</h1>
    			<p>Text</p>
    		</div>
    </div>


    </div>
</div>
