<div class="row shadow">
  <!-- Main Blog Content -->

  <div class="large-12 columns" role="content">
    <article>
      <p style="text-align: center;">The showcase for graduates of <a href="tp://www.makersacademy.com/"> Makers Academy </a>
      </p>
      <hr />
    </article>
  </div>
  <% if @user %>
    <div class="large-3 columns home_image">
      <%= link_to image_tag(@user.profile_image, width: "300px"), show_details_path(@user.id) %>
    </div>
    <div class="large-5 columns" >
      <h3><%= @user.name %>: a Maker's Graduate</h3>
      <p><%= @user.bio %>hello</p>
    </div>
  <% end %>
  <!-- <div class="large-3 columns" id="column_border"> -->
  <div class="large-4 columns"> 
    <h3>How we get to be one</h3>
      <p>Full-stack training means that trainees learn both the clientacing and back-end elements of web development.</p>
  </div>

  <div class="large-3 columns home_image home_button">
    <a class='button' href='/users'>List all</a>
  </div>
</div>
 
      <!-- <div class="large-12 columns" > -->
       <!-- <h5>Look for makers</h5> -->
          <!-- <ul > -->
            <!-- <li><a href="#">Graduates looking for jobs</a></li> -->
          <!-- </ul> -->
      <!-- </div> -->


    <!-- End Sidebar -->



