    <!-- Nav Bar -->
 
  <div class="row">

    <div class="large-12 columns">
      <div class="nav-bar right">
        <ul class="button-group">
          <% if @user %>
            <li><a href="#" class="button">Sign out</a> </li>
          <% else %>
            <li><a href="https://github.com/login/oauth/authorize?scope=user:email&client_id=<%= @client_id %>" class="button">Sign in with Github</a></li>
          <% end %>
        </ul>
      </div>
      <h1 style="text-align: center;">Full Stack People  <!--<small>Makers Academy Graduates</small>--> </h1>
      <hr />
    </div>
  </div>
 
 
  <!-- Main Page Content and Sidebar -->
 
  <div class="row">

    <!-- Main Blog Content -->

    <div class="large-12 columns" role="content">
      <article>
      <p style="text-align: center;">The showcase for graduates of <a href="http://www.makersacademy.com/"> Makers Academy </a>.
      </p>
      <hr />
      </article>
    </div>


    <div class="large-7 columns" role="content">
 
      <article>       
 
        <div class="row">

          <div class="large-6 columns">
            <img src="http://placehold.it/400x240&text=[img]" />
          </div>

          <div class="large-6 columns">
            <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa.</p>
            <p>Boudin aliqua adipisicing rump corned beef. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
          </div>
          
        </div>
        <button>List all</button>
 
        <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
 
        <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
 
      </article>
 
 

 
    </div>
 
    <!-- End Main Content -->
 
 
    <!-- Sidebar -->
 
    <aside class="large-5 columns">
<h3>How we get to graduate</h3>
      <p>Full-stack training simply means that trainees learn both the client-facing and back-end elements of web development.
        <p>'Both' makes it sound simple and easy; it isn't! The training is an intensive, full time (more than full time!) programme covering all aspects of 
  web development centered on Ruby on Rails.
  
  On these pages you can read the details
  of the training provided by the Academy, see all the current students and graduates who elect 
  to register here, and make contact with graduates and with the Academy to get full details of the availability of current students.

</p>


  </p>
 
     <!--  <h5>Categories</h5>
      <ul class="side-nav">
        <li><a href="#">News</a></li>
        <li><a href="#">Code</a></li>
        <li><a href="#">Design</a></li>
        <li><a href="#">Fun</a></li>
        <li><a href="#">Weasels</a></li>
      </ul>
 
      <div class="panel">
        <h5>Featured</h5>
        <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow.</p>
        <a href="#">Read More →</a>
      </div> -->
 
    </aside>
 
    <!-- End Sidebar -->
  </div>
 
  <!-- End Main Content and Sidebar -->
 
 
  <!-- Footer -->
 
  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>© Copyright no one at all. Go to town.</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li>Created by</li>
            <li><a href="#">Colin</a></li>
            <li><a href="#">Roy</a></li>
            <li><a href="#">Etc</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
    






