<div class="row shadow">
  <!-- Main Blog Content -->

  <div class="large-12 columns" role="content">
    <article>
      <p class="centre em"><strong>The showcase for graduates of <a href="tp://www.makersacademy.com/"> Makers Academy </strong></a>
      </p>
      <hr />
    </article>
  </div>
  <% if @user %>
    <div class="large-3 columns home_image">
      <%= link_to image_tag(@user.profile_image, width: "300px"), show_details_path(@user.id) %>
    </div>
    <div class="large-5 columns" >
      <h3><%= @user.name %></h3>
      <p><%= @user.bio %>hello</p>
    </div>
  <% end %>
  <!-- <div class="large-3 columns" id="column_border"> -->
  <div class="large-4 columns"> 
    <h3>How we get to be one</h3>
      <p>Full-stack training means that trainees learn both the client-facing and back-end elements of web development.</p> <p> 

      <ul>
        <li>Ruby including IRB usage, identifying 'code smells', refactoring techniques,
        
        <li>Ruby with Sinatra, Ruby on Rails including ActiveRecord
        <li>Object Oriented Design and Programming
        <li>Git (Git command-line and Github), Heroku 
        <li>HTML, CSS, HAML, SASS, Foundation CSS, Twitter Bootstrap 
        <li>Javascript, Ajax, JSON, Jquery,  Coffescript
        
        <li>HTTP
        <li> Unix OS environment and commands 
        <li>text editors including introductions to Vi and Vim, and full use of Sublime
        <li>databases with emphasis on Postgresql
        <li>Capybara, Cucumber, RSpec
        <li>Model View Controller design, Test Driven Development
        <li>Agile and lean techniques
        
        <li>security including BCrypt
        <li>Amazon Web Services
        <li>use of Codewars
      </ul>
       </p>
  </div>

  <div class="large-3 columns home_image home_button">
    <a class='button' href='/users'>List all</a>
  </div>
</div>
 
      <!-- <div class="large-12 columns" > -->
       <!-- <h5>Look for makers</h5> -->
          <!-- <ul > -->
            <!-- <li><a href="#">Graduates looking for jobs</a></li> -->
          <!-- </ul> -->
      <!-- </div> -->


    <!-- End Sidebar -->



