<header>
	<h1>Full Stack </h1>
	<a href="https://github.com/login/oauth/authorize?scope=user:email&client_id=<%= @client_id %>">Click here</a>
</header>

<p>Welcome to the web pages that showcase the full-stack trained graduates of
	
	<a href="http://www.makersacademy.com/"> Makers Academy </a> and give you the ability to 
	contact them.  This is especially aimed at potential employers.

</p>

<p>
	I am a wonderful Makers Graduate
</p>




