
<div class="row">
    <div class="large-9 columns"  role="content">
      <article>

<<<<<<< HEAD

    <div class="large-7 columns" role="content">
 
      <article>       
 
=======
>>>>>>> master
        <div class="row">
          <div class="large-6 columns" >
            <img style="float:left;" src="http://placehold.it/400x240&text=[img]" />
          </div>

          <div class="large-6 columns" >
            <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa.</p>
            <p>Boudin aliqua adipisicing rump corned beef. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>

          </div>
        </div>

         <button>List all</button>
            <p>Boudin aliqua adipisicing rump corned beef. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
          <div class="large-12 columns" style="background:#9392A1;">
            <!-- <h5>Categories</h5> -->
              <ul class="off-canvas-list">
                <li><a href="#"></a></li>
                <li><a href="#">Graduates looking for jobs</a></li>
              </ul>
          </div>
      </article>
    <!--   <h3>user</h3> -->
    </div>

    <aside class="large-3 columns">
      <h3>How we get to graduate</h3>
        <p>Full-stack training simply means that trainees learn both the client-facing and back-end elements of web development.</p>

        <p>Full-stack training simply means that trainees learn both the client-facing and back-end elements of web development.</p>
    </aside>



    <!-- End Sidebar -->
</div>


