// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-color: #FBFBFB;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.shadow {
-webkit-box-shadow: 2px 2px 4px 0px rgba(50, 50, 50, 0.75);
 -moz-box-shadow:    2px 2px 4px 0px rgba(50, 50, 50, 0.75);
 box-shadow:         2px 2px 4px 0px rgba(50, 50, 50, 0.75);
 margin-top: 15px;
 margin-bottom: 15px;
}

h1 {
	font-size: 2em;
	text-align:left;
	margin-top:.4em;

}

.button{
	font-size: 85%;
	margin:.8em;
  padding: .9em;
  box-shadow: 0 0 7px #bdc3c7;
  line-height: .5em;
  background-color: none;
}

#column_border{
	border: solid 1px #bdc3c7;
	width: 23%;

}

.alert {
  background: red;
  -webkit-transition: all 10s ease-in-out;

}

