// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

i {
  padding-right: 0.6em;
  width: 1.8em;
  display: inline-block;
  color: rgb(0, 140, 186);
}

ul.no-bullet > li {
  color: #666;
  font-size: 120%;
  margin: -0.3em 0em;
}

i.icon-ruby, i.icon-ruby-on-rails {
  color: #73002F;
}
i.icon-aws {
  color: #FFA82B;
}
i.icon-heroku {
  color: rgb(124, 118, 184);
}
i.icon-html {
  color: #FF661A;
}
i.icon-css {
  color: #008AFF;
}
i.icon-javascript {
  color: #FFC247;
}
i.icon-osx {
  color: #1F7AC2;
}
i.icon-google-developers, i.icon-shell, i.icon-microscope, i.icon-line-graph {
  color: black;
}
i.icon-database {
  color: #14C299;
}
