// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

i {
  padding-right: 0.6em;
  color: rgb(0, 140, 186);
}

ul.no-bullet > li {
  color: #666;
  font-size: 120%;
  margin: -0.3em 0em;
}