<footer class="row shadow">
  <div class="large-12 columns">
    <hr />
    <div class="large-6 columns">
      <p>© Copyright no one at all. Go to town.</p>
    </div>
    <div class="large-6 columns">
      <ul class="inline-list right">
        <li>Created by</li>
        <li><a href="#">Colin</a></li>
        <li><a href="#">Roy</a></li>
        <li><a href="#">Etc</a></li>
      </ul>
    </div>
  </div>
</footer>
