<footer class="row shadow">
  <div class="large-12 columns">
    <!-- <div class="large-6 columns">
      <p>&nbsp;</p>
    </div> -->
    <div class="large-12 columns">
      <p class="centre">
        Creative team:&nbsp;&nbsp;&nbsp;&nbsp;</li>
        <a href="#">Rolando Barbella</a>&nbsp;&nbsp;&nbsp;
        <a href="#">Mihai-Liviu Cojocar</a>&nbsp;&nbsp;&nbsp;
        <a href="#">Colin Frankish</a>&nbsp;&nbsp;&nbsp;
        <a href="#">Roy Gardiner</a>&nbsp;&nbsp;&nbsp;
        <a href="#">Nabin Rai</a>&nbsp;&nbsp;&nbsp;
        <a href="#">Peter Saxton</a>&nbsp;&nbsp;&nbsp;
      </p>
    </div>
  </div>
</footer>
