  <!-- Nav Bar -->
 <div class="row shadow">
    <div class="large-12 columns header">
      <div class="nav-bar right">
        <ul class="button-group">
          <% if @user %>
            <li><a href="#" class="button">Sign out</a> </li>
          <% else %>
            <li><a href="https://github.com/login/oauth/authorize?scope=user:email&client_id=<%= @client_id %>" class="button">Sign in with Github</a></li>
          <% end %>
        </ul>
      </div>
      <h1><%= link_to 'Full Stack People', root_path %></h1>
    </div>
  </div>

  <!-- Main Page Content and Sidebar -->

